#div-principal {
  display: flex;
  justify-content: space-around;
}

.card-container {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 20%;
  border: 2px solid black;
}

#form-container{
  display: flex;
  flex-direction: column;
  width: 50%;
}
